{% extends 'base.html.twig' %}

{% block title %}Application index{% endblock %}

{% block body %}
    <h1>Application index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>DatabaseUser</th>
                <th>DatabaseName</th>
                <th>DatabasePassword</th>
                <th>DatabaseHost</th>
                <th>Active</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for application in applications %}
            <tr>
                <td>{{ application.id }}</td>
                <td>{{ application.name }}</td>
                <td>{{ application.databaseUser }}</td>
                <td>{{ application.databaseName }}</td>
                <td>{{ application.databasePassword }}</td>
                <td>{{ application.databaseHost }}</td>
                <td>{{ application.active ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('app_application_show', {'id': application.id}) }}">show</a>
                    <a href="{{ path('app_application_edit', {'id': application.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_application_new') }}">Create new</a>
{% endblock %}
